# Ignore node_modules directory
/node_modules

# Ignore any logs or temporary files
*.log
*.tmp

# Ignore environment-specific files
.env

# Ignore dependency directories
/client/node_modules
/server/node_modules

# Ignore build artifacts
/client/build
/server/build

# Ignore configuration files that may contain sensitive information
/server/config/*.json

# Ignore Visual Studio Code settings
.vscode

# Ignore macOS system files
.DS_Store

# Ignore npm debug log
npm-debug.log*
